.mainbox{
    background-color: coral;
    width: 800px ;
    height: 500px;
    margin: 0px auto;
}
.menu{
    background-color: brown;
}

.leftside{
    background-color: darkgreen;
    width: 100px;
    height: 450px;
    float:left;
}

.main{
    background-color: darkkhaki;
    width: 600px;
    height: 450px;
    float: left;
}

.rightside{
    background-color: magenta;
    width: 100px;
    height: 450px;
    float: left;
}

.footer{
    background-color: cadetblue;
}

.menu{
    height: 34px;
    text-align: center;
}

.menu>ul>li{
    display: inline;
    padding: 10px 10px 10px 10px;
    background-color: darkgreen;
    position: relative;
    top:8px;
    font-family: Tahoma, Serif;
    font-size: 15px;
}

.menu>li>a{
    text-decoration: none;
    color: deepskyblue;
}