.mainbox {
    background-color: ivory;
    width: 800px;
    height: 500px;
    margin: 0px;
}

.right {
    background-color: gainsboro;
    width: 400px;
    height: 500px;
    float: left;
}

.kreisa {
    background-color: bisque;
    width: 400px;
    height: 500px;
    float: left;
}

.right>text>ul>center{
    font-size: 50px;
}
.kreisa>text>ul>center{
    font-size: 50px;
}

